<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.common_demo">

    <application
        android:name=".demoApp"
        android:label="@string/common_demo_app_name"
        android:theme="@style/common_demo_Theme.demo">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DemoSchemeActivity"
            android:theme="@style/ActivityTranslucent">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="fungox" />
                <data android:scheme="fungo" />
            </intent-filter>
        </activity>
    </application>

</manifest>